# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
*.DS_Store

# Misc
*.zip
.watchfilesignore
watchfiles.toml
